<br><br>

<ion-content class="categorias-content">


  <!-- Grid de categorías -->
  <ion-grid class="categories-grid">
    <ion-row>
      <ion-col
        size="6"
        size-md="4"
        size-lg="3"
        *ngFor="let cat of sampleCategories"
        (click)="goToCategoria(cat)"
      >
        <div class="category-card" [ngStyle]="{ '--card-bg': cat.color }">
          <span class="category-label">{{ cat.key | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
