
<app-carrusel [slides]="slidesArray"></app-carrusel>
  <app-noticias
    [newsList]="noticiasArray"
    (selectNoticia)="onNoticiaSeleccionada($event)"
  ></app-noticias>
  <app-podcasts
    [podcastsList]="podcastsArray"
    (selectPodcast)="onPodcastSeleccionado($event)"
  ></app-podcasts>
  <app-radio
    [radioList]="radiosArray"
    (selectRadio)="onRadioSeleccionada($event)"
  ></app-radio>
  <app-categorias
    [categoriesList]="categoriesArray"
    (selectCategory)="onCategoriaSeleccionada($event)"
  ></app-categorias>

