<!--



<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-app>
-->

<ion-app>

  <!-- Header fijo para toda la app -->
  <ion-header>
    <ion-toolbar>
      <app-navbar [username]="'Aaron Rodriguez'"></app-navbar>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de cada ruta aquí -->
  <ion-content class="app-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <div style="height: calc(120px + env(safe-area-inset-bottom));"></div>

  <!-- Footer fijo para toda la app -->
  <app-footer
    [activeTab]="activeTab"
    (tabChange)="onFooterTabChanged($event)">
  </app-footer>

</ion-app>
