   .follow-us-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      text-align: center;
    }

    .follow-us-container h1 {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 10px;
    }

    .follow-us-container p {
      font-size: 16px;
      color: #666;
      margin-bottom: 30px;
    }


    .social-buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px; /* Espaciado entre botones */
    }

    .social-button {
      width: 100%;
      height: 70px; /* Aumentado para alargar los botones */
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      text-transform: capitalize;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

.follow-us-container h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  font-weight: 600;
}

.notifications-list {
  padding: 1rem;
}

.notification-card {
  border-radius: 15px;
  box-shadow: 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  transition: transform 0.2s;
}

.notification-card:hover {
  transform: scale(1.02);
}

.page-title {

  text-align: center;
}
.notification-icon {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

.notification-message {
  font-size: 1rem;
  color: #444;
}

.date {
  font-size: 0.8rem;
  color: #888;
}

    .social-button ion-icon {
      margin-right: 10px;
      font-size: 24px;
    }

    .social-button.instagram {
      --background: #C13584; /* Morado de Instagram */
    }

    .social-button.tiktok {
      --background: #000000; /* Negro de TikTok */
    }

    .social-button.facebook {
      --background: #1877F2; /* Azul de Facebook */
    }

    .social-button.youtube {
      --background: #FF0000; /* Rojo de YouTube */
    }

    .social-button.twitter {
      --background: #1DA1F2; /* Azul claro de Twitter */
    }

    .social-button:hover {
      opacity: 0.9; /* Efecto hover para interactividad */
    }

    ion-tab-bar {
      background: #fff;
      box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    }

    ion-tab-button ion-icon {
      color: #666;
    }

    ion-tab-button.tab-selected ion-icon {
      color: #000;
    }
