<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="content-wrapper">
          <h1>{{'SELECT_LANGUAGE_TITLE' | translate }}</h1>
          <p>{{'SELECT_LANGUAGE_SUBTITLE' | translate }}</p>

          <div class="language-buttons">
            <ion-button *ngFor="let lang of languages"
                        class="language-btn"
                        [class.selected]="selectedLanguage === lang.code"
                        (click)="selectLanguage(lang.code)">
              <img [src]="getFlagUrl(lang.code)" class="flag-icon" alt="{{ lang.name }} flag" />
              {{ lang.name }}
            </ion-button>
          </div>

          <ion-button class="continue-btn" (click)="onContinue()">{{'CONTINUE' | translate }}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
