<div class="ion-page">
  <ion-content [fullscreen]="true" class="login-page">
    <div class="login-wrapper">
      <div class="login-box">
        <!-- Título -->
        <h1 class="login-title">Login</h1>
        <p class="login-subtitle">
          Inicia sesión para acceder a tu cuenta y personalizar tu experiencia.
        </p>

        <!-- Formulario -->
        <form>
          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" placeholder="Digite su email"></ion-input>
          </ion-item>

          <ion-item lines="none" class="custom-input">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" placeholder="Digite su contraseña"></ion-input>
          </ion-item>

          <!-- Recuperar -->
          <div class="text-right link-small" (click)="recoverPassword()">Recuperar contraseña</div>

          <!-- Botón login -->
          <ion-button expand="block" class="btn-black">Ingresar</ion-button>

          <!-- Divider -->
          <div class="text-center continuar-con">Continuar con</div>

          <!-- Social buttons -->
          <div class="social-buttons">
            <div class="circle" (click)="loginWith('google')">
              <ion-icon name="logo-google"></ion-icon>
            </div>
            <div class="circle" (click)="loginWith('apple')">
              <ion-icon name="logo-apple"></ion-icon>
            </div>
          </div>

          <!-- Registro -->
          <div class="text-center link-bottom">
            ¿No tienes cuenta?
            <span (click)="goToRegister()"> <strong>Regístrate</strong></span>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</div>