<div class="eventos container py-4">
  <div class="eventos-bar">
    <h2 class="eventos-title">Eventos</h2>
  </div>

 <!-- Imagen grande con animación al hover -->
<a href="https://www.eventbrite.com/e/tu-casa-tu-sueno-guia-para-primeros-compradores-tickets-1224505852969" target="_blank" rel="noopener noreferrer">
  <div class="evento-image-container">
    <img
      src="assets/EventoDestacado/Evento1.webp"
      alt="Evento destacado"
      class="evento-image"
    />
  </div>
</a>
<div class="mas-info-container">
<a class="mas-info"
   href="https://www.eventbrite.com/e/tu-casa-tu-sueno-guia-para-primeros-compradores-tickets-1224505852969"
   target="_blank" rel="noopener noreferrer">
   Haz click aquí para más información.
</a>
</div>
</div>

