<div class="podcast-section">
  <!-- Encabezado -->
  <div class="podcast-header">
    <h2 class="podcast-title">Podcasts</h2>
    <ion-button fill="clear" size="small" class="view-all-button" (click)="viewAll()">
     {{'Ver_Todo' | translate}}
    </ion-button>
  </div>

  <!-- Lista de podcasts -->
  <div *ngIf="podcastsList && podcastsList.length > 0" class="podcast-content">
  <div class="podcast-scroll">
    <div class="podcast-card" *ngFor="let pod of podcastsList | slice:0:10" (click)="onSelect(pod)">
      <!-- Imagen con ícono de reproducción -->
      <div class="podcast-image-container">
        <img *ngIf="pod.image" [src]="pod.image" [alt]="pod.title" class="podcast-img" loading="lazy" />
        <div *ngIf="!pod.image" class="podcast-placeholder-image">
          <ion-icon name="mic-circle-outline" class="placeholder-icon"></ion-icon>
        </div>
        <ion-icon name="play-circle-outline" class="play-icon"></ion-icon>
      </div>
      <!-- Texto del podcast -->
      <div class="podcast-text">
        <p class="podcast-item-title">{{ pod.title }}</p>
        <p class="podcast-item-desc" *ngIf="pod.description">{{ pod.description | slice:0:50 }}...</p>
      </div>
    </div>
  </div>
</div>

  <!-- Marcador de posición si no hay podcasts -->
  <div *ngIf="!podcastsList || podcastsList.length === 0" class="podcast-placeholder">
    <div class="podcast-placeholder-card">
      <div class="placeholder-icon">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </div>
      <h3 class="placeholder-title">No hay podcasts disponibles</h3>
      <p class="placeholder-text">
        ¡Ups! Parece que aún no tenemos podcasts aquí. Explora otras categorías o idiomas y descubre más contenido que te encantará. ¡Vuelve pronto!
      </p>
    </div>
  </div>
</div>