

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

ion-header {
   --padding-top: calc(var(--ion-safe-area-top) + 2rem);
   padding-top: calc(var(--ion-safe-area-top) + 2rem);
  --padding-bottom: calc(var(--ion-safe-area-bottom) + 2rem);
}
ion-content {
  --padding-top: none;

}

.safe-toolbar {
  padding-top: calc(env(safe-area-inset-top) + 2rem);
}
