ion-content.home-content {
  --padding-bottom: 72px; // Deja espacio para el footer
  --offset-top: 0px;
  --offset-bottom: 0px;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}
