<ion-header>
  <ion-toolbar id="Cleantoolbar">
    <!-- Icono izquierdo -->
     <!--
    <ion-buttons slot="start">
      <ion-icon name="lock-outline" class="lock-icon"></ion-icon>
    </ion-buttons>
-->
    <!-- Título centrado -->
    <ion-title class="centered-title">
      <div class="welcome-wrapper">
        <span class="greeting-text">{{ 'WELCOME' | translate }}</span>
        <span class="username-text">{{ username }}</span>
      </div>
    </ion-title>

    <!-- Placeholder derecha para balancear -->
    <ion-buttons slot="end">
      <div class="title-placeholder"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



    <!--
    <ion-buttons slot="end">
      <div class="search-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </div>
    </ion-buttons>
    -->