  <ion-content>
 <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

    <div class="follow-us-container">
      <h1>Follow us</h1>
      <p>You can also follow us on our social networks to get the latest news with flavor.</p>
      <br>
      <div class="social-buttons">
        <ion-button class="social-button instagram" (click)="openExternal('https://www.instagram.com/maslatino/tagged/')" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
        Instagram
      </ion-button>

      <ion-button class="social-button tiktok" (click)="openExternal('https://www.tiktok.com/@mas.latino')" target="_blank">
        <ion-icon name="logo-tiktok"></ion-icon>
        TikTok
      </ion-button>

      <ion-button class="social-button facebook" (click)="openExternal('https://www.facebook.com/people/M%C3%A1s-Latino/61571762067973/')" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>

      <ion-button class="social-button youtube" (click)="openExternal('https://www.youtube.com/@Mas.Latino')" target="_blank">
        <ion-icon name="logo-youtube"></ion-icon>
        YouTube
      </ion-button>

      <ion-button class="social-button twitter" (click)="openExternal('https://x.com/maslatino_')" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
        Twitter
</ion-button>
      </div>
    </div>
  </ion-content>



  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
