


<ng-container *ngIf="radioList && radioList.length > 0;">
  <div class="radio-section"> <!-- ✅ Agregado -->
      <!-- Cabecera: título y botón "Ver todo" -->
  <div class="radio-header">
    <h2 class="radio-title">{{'Estaciones de radio' | translate}}</h2>
   <ion-button
      fill="clear"
      size="small"
      class="view-all-button"
      (click)="viewAll()">
     {{'Ver_Todo' | translate}}
    </ion-button>
  </div>

    <div class="radio-scroll">
      <div
        class="radio-card"
        *ngFor="let item of radioList"
        (click)="onSelect(item)"
      >
        <div class="image-wrapper">
          <ng-container *ngIf="item.image; else defaultIcon">
            <img
              [src]="item.image"
              [alt]="item.title"
              class="radio-img"
              loading="lazy"
            />
          </ng-container>
          <ng-template #defaultIcon>
            <div class="radio-default-icon">
              <ion-icon name="radio-outline"></ion-icon>
            </div>
          </ng-template>
          <div class="overlay">
            <p class="radio-text">{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ✅ Cierre -->
</ng-container>
