<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'PROFILE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editProfile()" aria-label="{{ 'PROFILE.EDIT' | translate }}">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-page">
  <div class="profile-header">
    <ion-card class="profile-card">
      <div class="profile-avatar-container">
        <ion-avatar class="profile-avatar">
          <ng-container *ngIf="user.avatarUrl; else showInitials">
            <img [src]="user.avatarUrl" [alt]="'PROFILE.AVATAR_ALT' | translate : { name: user.name }" />
          </ng-container>
          <ng-template #showInitials>
            <div class="initials">{{ initials }}</div>
          </ng-template>
        </ion-avatar>
      </div>
      <div class="profile-info">
        <h2 class="profile-name">{{ user.name }}</h2>
        <p class="profile-email">{{ user.email }}</p>
      </div>

      <ion-button fill="clear" (click)="openSettings()" aria-label="{{ 'PROFILE.SETTINGS' | translate }}" class="settings-button">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-card>
  </div>

  <div class="menu-container">
    <ng-container *ngFor="let section of menuSections">
      <ion-list lines="full" class="menu-section-list">
    <ion-list-header class="menu-section-header" *ngIf="section.header">
      {{ section.header | translate }}
    </ion-list-header>

        <ng-container *ngFor="let item of section.items">
          <ion-item button detail="true" (click)="item.action()" class="menu-item">
            <ion-icon slot="start" [name]="item.icon"></ion-icon>
            <ion-label>{{ item.label | translate }}</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <app-footer [activeTab]="activeTab" (tabChange)="onFooterTabChanged($event)"></app-footer>
</ion-footer>
