<ion-content fullscreen>
  <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <h1 class="page-title">{{'Noticias' | translate}}</h1>

  <div class="search-wrapper">
    <div class="search-icon">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filter()"
      [placeholder] = "'Buscar_por_titulo' | translate"
      class="search-input"
    />
  </div>

  <ion-grid class="news-list-grid">
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        *ngFor="let item of filtered"
      >
        <div class="news-card" (click)="onCardClick(item._id!)">
          <div class="image-wrapper">
            <img
              [src]="item.meta?.image || 'assets/default.jpg'"
              [alt]="item.title"
              class="news-img"
            />
            <div class="overlay">
              <p class="news-text">{{ item.title }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
