
<!--
<div class="title-isla">
  Noticias
  <ion-icon name="add"></ion-icon>
 <ion-icon name="newspaper-outline" class="icono-isla"></ion-icon>
</div>
-->

<ion-content fullscreen>
  <div class="news-list">
    <ion-card
      *ngFor="let item of articles"
      class="news-card"
      (click)="onCardClick(item.id)"
      [style.backgroundImage]="'url(' + item.img + ')'">
      <div class="news-overlay">
        <h2 class="news-title">{{ item.title }}</h2>
        <p *ngIf="item.category" class="news-category">{{ item.category }}</p>
      </div>
    </ion-card>
  </div>
</ion-content>
wadawfg
