<section class="ultimas-noticias-section">
  <div class="ultimas-noticias-container">
    <h2 class="ultimas-noticias-title">Últimas Noticias</h2>

    <div class="ultimas-noticias-carousel-wrapper">
      <div class="fade-left"></div>
      <swiper-container
        slides-per-view="1.2"
        centered-slides="true"
        space-between="24"
        pagination="true"
        navigation="true"
        class="ultimas-noticias-swiper"
      >
        <swiper-slide *ngFor="let cat of categorias">
          <div class="noticia-card">
            <img src="https://via.placeholder.com/300x200" alt="Imagen" class="noticia-imagen" />
            <div class="noticia-contenido">
              <p class="noticia-fecha">July, 19th</p>
              <h3 class="noticia-titulo">Event Title Lorem ipsum dolor sit amet, consectetuer</h3>
              <p class="noticia-descripcion">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed Lorem ipsum dolor sit amet, consectetuer.
              </p>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
      <div class="fade-right"></div>
    </div>
  </div>
</section>