<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="register-container">

          <!-- Botón de regreso -->
          <ion-button fill="clear" class="back-button" size="small" (click)="goBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>

          <!-- Título y descripción -->
          <h1>{{ 'REGISTER_TITLE' | translate }}</h1>
          <p>{{ 'REGISTER_DESCRIPTION' | translate }}</p>

          <!-- Formulario -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <ion-item>
              <ion-input type="text" formControlName="name" [placeholder]="'NAME_PLACEHOLDER' | translate"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="name.invalid && (name.dirty || name.touched)">
              <small *ngIf="name.errors?.['required']">{{ 'NAME_REQUIRED' | translate }}</small>
            </ion-text>

            <!-- Género -->
            <ion-label class="label-left">{{ 'SELECT_GENDER' | translate }}</ion-label>
            <ion-radio-group formControlName="gender">
              <ion-row>
                <ion-col size="auto">
                  <ion-item lines="none">
                    <ion-radio slot="start" value="male"></ion-radio>
                    <ion-label>{{ 'GENDER_MALE' | translate }}</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="auto">
                  <ion-item lines="none">
                    <ion-radio slot="start" value="female"></ion-radio>
                    <ion-label>{{ 'GENDER_FEMALE' | translate }}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            <ion-text color="danger" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
              <small>{{ 'GENDER_REQUIRED' | translate }}</small>
            </ion-text>

            <!-- País -->
            <ion-item lines="none" class="country-item">
              <ion-label>{{ 'COUNTRY_LABEL' | translate }}</ion-label>
              <ion-select interface="popover" [placeholder]="'COUNTRY_PLACEHOLDER' | translate" formControlName="country">
                      <ion-select-option value="ad">{{ "COUNTRY_AD" | translate }}</ion-select-option>
                      <ion-select-option value="ae">{{ "COUNTRY_AE" | translate }}</ion-select-option>
                      <ion-select-option value="af">{{ "COUNTRY_AF" | translate }}</ion-select-option>
                      <ion-select-option value="ag">{{ "COUNTRY_AG" | translate }}</ion-select-option>
                      <ion-select-option value="ai">{{ "COUNTRY_AI" | translate }}</ion-select-option>
                      <ion-select-option value="al">{{ "COUNTRY_AL" | translate }}</ion-select-option>
                      <ion-select-option value="am">{{ "COUNTRY_AM" | translate }}</ion-select-option>
                      <ion-select-option value="ao">{{ "COUNTRY_AO" | translate }}</ion-select-option>
                      <ion-select-option value="aq">{{ "COUNTRY_AQ" | translate }}</ion-select-option>
                      <ion-select-option value="ar">{{ "COUNTRY_AR" | translate }}</ion-select-option>
                      <ion-select-option value="as">{{ "COUNTRY_AS" | translate }}</ion-select-option>
                      <ion-select-option value="at">{{ "COUNTRY_AT" | translate }}</ion-select-option>
                      <ion-select-option value="au">{{ "COUNTRY_AU" | translate }}</ion-select-option>
                      <ion-select-option value="aw">{{ "COUNTRY_AW" | translate }}</ion-select-option>
                      <ion-select-option value="ax">{{ "COUNTRY_AX" | translate }}</ion-select-option>
                      <ion-select-option value="az">{{ "COUNTRY_AZ" | translate }}</ion-select-option>
                      <ion-select-option value="ba">{{ "COUNTRY_BA" | translate }}</ion-select-option>
                      <ion-select-option value="bb">{{ "COUNTRY_BB" | translate }}</ion-select-option>
                      <ion-select-option value="bd">{{ "COUNTRY_BD" | translate }}</ion-select-option>
                      <ion-select-option value="be">{{ "COUNTRY_BE" | translate }}</ion-select-option>
                      <ion-select-option value="bf">{{ "COUNTRY_BF" | translate }}</ion-select-option>
                      <ion-select-option value="bg">{{ "COUNTRY_BG" | translate }}</ion-select-option>
                      <ion-select-option value="bh">{{ "COUNTRY_BH" | translate }}</ion-select-option>
                      <ion-select-option value="bi">{{ "COUNTRY_BI" | translate }}</ion-select-option>
                      <ion-select-option value="bj">{{ "COUNTRY_BJ" | translate }}</ion-select-option>
                      <ion-select-option value="bl">{{ "COUNTRY_BL" | translate }}</ion-select-option>
                      <ion-select-option value="bm">{{ "COUNTRY_BM" | translate }}</ion-select-option>
                      <ion-select-option value="bn">{{ "COUNTRY_BN" | translate }}</ion-select-option>
                      <ion-select-option value="bo">{{ "COUNTRY_BO" | translate }}</ion-select-option>
                      <ion-select-option value="bq">{{ "COUNTRY_BQ" | translate }}</ion-select-option>
                      <ion-select-option value="br">{{ "COUNTRY_BR" | translate }}</ion-select-option>
                      <ion-select-option value="bs">{{ "COUNTRY_BS" | translate }}</ion-select-option>
                      <ion-select-option value="bt">{{ "COUNTRY_BT" | translate }}</ion-select-option>
                      <ion-select-option value="bv">{{ "COUNTRY_BV" | translate }}</ion-select-option>
                      <ion-select-option value="bw">{{ "COUNTRY_BW" | translate }}</ion-select-option>
                      <ion-select-option value="by">{{ "COUNTRY_BY" | translate }}</ion-select-option>
                      <ion-select-option value="bz">{{ "COUNTRY_BZ" | translate }}</ion-select-option>
                      <ion-select-option value="ca">{{ "COUNTRY_CA" | translate }}</ion-select-option>
                      <ion-select-option value="cc">{{ "COUNTRY_CC" | translate }}</ion-select-option>
                      <ion-select-option value="cd">{{ "COUNTRY_CD" | translate }}</ion-select-option>
                      <ion-select-option value="cf">{{ "COUNTRY_CF" | translate }}</ion-select-option>
                      <ion-select-option value="cg">{{ "COUNTRY_CG" | translate }}</ion-select-option>
                      <ion-select-option value="ch">{{ "COUNTRY_CH" | translate }}</ion-select-option>
                      <ion-select-option value="ci">{{ "COUNTRY_CI" | translate }}</ion-select-option>
                      <ion-select-option value="ck">{{ "COUNTRY_CK" | translate }}</ion-select-option>
                      <ion-select-option value="cl">{{ "COUNTRY_CL" | translate }}</ion-select-option>
                      <ion-select-option value="cm">{{ "COUNTRY_CM" | translate }}</ion-select-option>
                      <ion-select-option value="cn">{{ "COUNTRY_CN" | translate }}</ion-select-option>
                      <ion-select-option value="co">{{ "COUNTRY_CO" | translate }}</ion-select-option>
                      <ion-select-option value="cr">{{ "COUNTRY_CR" | translate }}</ion-select-option>
                      <ion-select-option value="cu">{{ "COUNTRY_CU" | translate }}</ion-select-option>
                      <ion-select-option value="cv">{{ "COUNTRY_CV" | translate }}</ion-select-option>
                      <ion-select-option value="cw">{{ "COUNTRY_CW" | translate }}</ion-select-option>
                      <ion-select-option value="cx">{{ "COUNTRY_CX" | translate }}</ion-select-option>
                      <ion-select-option value="cy">{{ "COUNTRY_CY" | translate }}</ion-select-option>
                      <ion-select-option value="cz">{{ "COUNTRY_CZ" | translate }}</ion-select-option>
                      <ion-select-option value="de">{{ "COUNTRY_DE" | translate }}</ion-select-option>
                      <ion-select-option value="dj">{{ "COUNTRY_DJ" | translate }}</ion-select-option>
                      <ion-select-option value="dk">{{ "COUNTRY_DK" | translate }}</ion-select-option>
                      <ion-select-option value="dm">{{ "COUNTRY_DM" | translate }}</ion-select-option>
                      <ion-select-option value="do">{{ "COUNTRY_DO" | translate }}</ion-select-option>
                      <ion-select-option value="dz">{{ "COUNTRY_DZ" | translate }}</ion-select-option>
                      <ion-select-option value="ec">{{ "COUNTRY_EC" | translate }}</ion-select-option>
                      <ion-select-option value="ee">{{ "COUNTRY_EE" | translate }}</ion-select-option>
                      <ion-select-option value="eg">{{ "COUNTRY_EG" | translate }}</ion-select-option>
                      <ion-select-option value="eh">{{ "COUNTRY_EH" | translate }}</ion-select-option>
                      <ion-select-option value="er">{{ "COUNTRY_ER" | translate }}</ion-select-option>
                      <ion-select-option value="es">{{ "COUNTRY_ES" | translate }}</ion-select-option>
                      <ion-select-option value="et">{{ "COUNTRY_ET" | translate }}</ion-select-option>
                      <ion-select-option value="fi">{{ "COUNTRY_FI" | translate }}</ion-select-option>
                      <ion-select-option value="fj">{{ "COUNTRY_FJ" | translate }}</ion-select-option>
                      <ion-select-option value="fk">{{ "COUNTRY_FK" | translate }}</ion-select-option>
                      <ion-select-option value="fm">{{ "COUNTRY_FM" | translate }}</ion-select-option>
                      <ion-select-option value="fo">{{ "COUNTRY_FO" | translate }}</ion-select-option>
                      <ion-select-option value="fr">{{ "COUNTRY_FR" | translate }}</ion-select-option>
                      <ion-select-option value="ga">{{ "COUNTRY_GA" | translate }}</ion-select-option>
                      <ion-select-option value="gb">{{ "COUNTRY_GB" | translate }}</ion-select-option>
                      <ion-select-option value="gd">{{ "COUNTRY_GD" | translate }}</ion-select-option>
                      <ion-select-option value="ge">{{ "COUNTRY_GE" | translate }}</ion-select-option>
                      <ion-select-option value="gf">{{ "COUNTRY_GF" | translate }}</ion-select-option>
                      <ion-select-option value="gg">{{ "COUNTRY_GG" | translate }}</ion-select-option>
                      <ion-select-option value="gh">{{ "COUNTRY_GH" | translate }}</ion-select-option>
                      <ion-select-option value="gi">{{ "COUNTRY_GI" | translate }}</ion-select-option>
                      <ion-select-option value="gl">{{ "COUNTRY_GL" | translate }}</ion-select-option>
                      <ion-select-option value="gm">{{ "COUNTRY_GM" | translate }}</ion-select-option>
                      <ion-select-option value="gn">{{ "COUNTRY_GN" | translate }}</ion-select-option>
                      <ion-select-option value="gp">{{ "COUNTRY_GP" | translate }}</ion-select-option>
                      <ion-select-option value="gq">{{ "COUNTRY_GQ" | translate }}</ion-select-option>
                      <ion-select-option value="gr">{{ "COUNTRY_GR" | translate }}</ion-select-option>
                      <ion-select-option value="gs">{{ "COUNTRY_GS" | translate }}</ion-select-option>
                      <ion-select-option value="gt">{{ "COUNTRY_GT" | translate }}</ion-select-option>
                      <ion-select-option value="gu">{{ "COUNTRY_GU" | translate }}</ion-select-option>
                      <ion-select-option value="gw">{{ "COUNTRY_GW" | translate }}</ion-select-option>
                      <ion-select-option value="gy">{{ "COUNTRY_GY" | translate }}</ion-select-option>
                      <ion-select-option value="hk">{{ "COUNTRY_HK" | translate }}</ion-select-option>
                      <ion-select-option value="hm">{{ "COUNTRY_HM" | translate }}</ion-select-option>
                      <ion-select-option value="hn">{{ "COUNTRY_HN" | translate }}</ion-select-option>
                      <ion-select-option value="hr">{{ "COUNTRY_HR" | translate }}</ion-select-option>
                      <ion-select-option value="ht">{{ "COUNTRY_HT" | translate }}</ion-select-option>
                      <ion-select-option value="hu">{{ "COUNTRY_HU" | translate }}</ion-select-option>
                      <ion-select-option value="id">{{ "COUNTRY_ID" | translate }}</ion-select-option>
                      <ion-select-option value="ie">{{ "COUNTRY_IE" | translate }}</ion-select-option>
                      <ion-select-option value="il">{{ "COUNTRY_IL" | translate }}</ion-select-option>
                      <ion-select-option value="im">{{ "COUNTRY_IM" | translate }}</ion-select-option>
                      <ion-select-option value="in">{{ "COUNTRY_IN" | translate }}</ion-select-option>
                      <ion-select-option value="io">{{ "COUNTRY_IO" | translate }}</ion-select-option>
                      <ion-select-option value="iq">{{ "COUNTRY_IQ" | translate }}</ion-select-option>
                      <ion-select-option value="ir">{{ "COUNTRY_IR" | translate }}</ion-select-option>
                      <ion-select-option value="is">{{ "COUNTRY_IS" | translate }}</ion-select-option>
                      <ion-select-option value="it">{{ "COUNTRY_IT" | translate }}</ion-select-option>
                      <ion-select-option value="je">{{ "COUNTRY_JE" | translate }}</ion-select-option>
                      <ion-select-option value="jm">{{ "COUNTRY_JM" | translate }}</ion-select-option>
                      <ion-select-option value="jo">{{ "COUNTRY_JO" | translate }}</ion-select-option>
                      <ion-select-option value="jp">{{ "COUNTRY_JP" | translate }}</ion-select-option>
                      <ion-select-option value="ke">{{ "COUNTRY_KE" | translate }}</ion-select-option>
                      <ion-select-option value="kg">{{ "COUNTRY_KG" | translate }}</ion-select-option>
                      <ion-select-option value="kh">{{ "COUNTRY_KH" | translate }}</ion-select-option>
                      <ion-select-option value="ki">{{ "COUNTRY_KI" | translate }}</ion-select-option>
                      <ion-select-option value="km">{{ "COUNTRY_KM" | translate }}</ion-select-option>
                      <ion-select-option value="kn">{{ "COUNTRY_KN" | translate }}</ion-select-option>
                      <ion-select-option value="kp">{{ "COUNTRY_KP" | translate }}</ion-select-option>
                      <ion-select-option value="kr">{{ "COUNTRY_KR" | translate }}</ion-select-option>
                      <ion-select-option value="kw">{{ "COUNTRY_KW" | translate }}</ion-select-option>
                      <ion-select-option value="ky">{{ "COUNTRY_KY" | translate }}</ion-select-option>
                      <ion-select-option value="kz">{{ "COUNTRY_KZ" | translate }}</ion-select-option>
                      <ion-select-option value="la">{{ "COUNTRY_LA" | translate }}</ion-select-option>
                      <ion-select-option value="lb">{{ "COUNTRY_LB" | translate }}</ion-select-option>
                      <ion-select-option value="lc">{{ "COUNTRY_LC" | translate }}</ion-select-option>
                      <ion-select-option value="li">{{ "COUNTRY_LI" | translate }}</ion-select-option>
                      <ion-select-option value="lk">{{ "COUNTRY_LK" | translate }}</ion-select-option>
                      <ion-select-option value="lr">{{ "COUNTRY_LR" | translate }}</ion-select-option>
                      <ion-select-option value="ls">{{ "COUNTRY_LS" | translate }}</ion-select-option>
                      <ion-select-option value="lt">{{ "COUNTRY_LT" | translate }}</ion-select-option>
                      <ion-select-option value="lu">{{ "COUNTRY_LU" | translate }}</ion-select-option>
                      <ion-select-option value="lv">{{ "COUNTRY_LV" | translate }}</ion-select-option>
                      <ion-select-option value="ly">{{ "COUNTRY_LY" | translate }}</ion-select-option>
                      <ion-select-option value="ma">{{ "COUNTRY_MA" | translate }}</ion-select-option>
                      <ion-select-option value="mc">{{ "COUNTRY_MC" | translate }}</ion-select-option>
                      <ion-select-option value="md">{{ "COUNTRY_MD" | translate }}</ion-select-option>
                      <ion-select-option value="me">{{ "COUNTRY_ME" | translate }}</ion-select-option>
                      <ion-select-option value="mf">{{ "COUNTRY_MF" | translate }}</ion-select-option>
                      <ion-select-option value="mg">{{ "COUNTRY_MG" | translate }}</ion-select-option>
                      <ion-select-option value="mh">{{ "COUNTRY_MH" | translate }}</ion-select-option>
                      <ion-select-option value="mk">{{ "COUNTRY_MK" | translate }}</ion-select-option>
                      <ion-select-option value="ml">{{ "COUNTRY_ML" | translate }}</ion-select-option>
                      <ion-select-option value="mm">{{ "COUNTRY_MM" | translate }}</ion-select-option>
                      <ion-select-option value="mn">{{ "COUNTRY_MN" | translate }}</ion-select-option>
                      <ion-select-option value="mo">{{ "COUNTRY_MO" | translate }}</ion-select-option>
                      <ion-select-option value="mp">{{ "COUNTRY_MP" | translate }}</ion-select-option>
                      <ion-select-option value="mq">{{ "COUNTRY_MQ" | translate }}</ion-select-option>
                      <ion-select-option value="mr">{{ "COUNTRY_MR" | translate }}</ion-select-option>
                      <ion-select-option value="ms">{{ "COUNTRY_MS" | translate }}</ion-select-option>
                      <ion-select-option value="mt">{{ "COUNTRY_MT" | translate }}</ion-select-option>
                      <ion-select-option value="mu">{{ "COUNTRY_MU" | translate }}</ion-select-option>
                      <ion-select-option value="mv">{{ "COUNTRY_MV" | translate }}</ion-select-option>
                      <ion-select-option value="mw">{{ "COUNTRY_MW" | translate }}</ion-select-option>
                      <ion-select-option value="mx">{{ "COUNTRY_MX" | translate }}</ion-select-option>
                      <ion-select-option value="my">{{ "COUNTRY_MY" | translate }}</ion-select-option>
                      <ion-select-option value="mz">{{ "COUNTRY_MZ" | translate }}</ion-select-option>
                      <ion-select-option value="na">{{ "COUNTRY_NA" | translate }}</ion-select-option>
                      <ion-select-option value="nc">{{ "COUNTRY_NC" | translate }}</ion-select-option>
                      <ion-select-option value="ne">{{ "COUNTRY_NE" | translate }}</ion-select-option>
                      <ion-select-option value="nf">{{ "COUNTRY_NF" | translate }}</ion-select-option>
                      <ion-select-option value="ng">{{ "COUNTRY_NG" | translate }}</ion-select-option>
                      <ion-select-option value="ni">{{ "COUNTRY_NI" | translate }}</ion-select-option>
                      <ion-select-option value="nl">{{ "COUNTRY_NL" | translate }}</ion-select-option>
                      <ion-select-option value="no">{{ "COUNTRY_NO" | translate }}</ion-select-option>
                      <ion-select-option value="np">{{ "COUNTRY_NP" | translate }}</ion-select-option>
                      <ion-select-option value="nr">{{ "COUNTRY_NR" | translate }}</ion-select-option>
                      <ion-select-option value="nu">{{ "COUNTRY_NU" | translate }}</ion-select-option>
                      <ion-select-option value="nz">{{ "COUNTRY_NZ" | translate }}</ion-select-option>
                      <ion-select-option value="om">{{ "COUNTRY_OM" | translate }}</ion-select-option>
                      <ion-select-option value="pa">{{ "COUNTRY_PA" | translate }}</ion-select-option>
                      <ion-select-option value="pe">{{ "COUNTRY_PE" | translate }}</ion-select-option>
                      <ion-select-option value="pf">{{ "COUNTRY_PF" | translate }}</ion-select-option>
                      <ion-select-option value="pg">{{ "COUNTRY_PG" | translate }}</ion-select-option>
                      <ion-select-option value="ph">{{ "COUNTRY_PH" | translate }}</ion-select-option>
                      <ion-select-option value="pk">{{ "COUNTRY_PK" | translate }}</ion-select-option>
                      <ion-select-option value="pl">{{ "COUNTRY_PL" | translate }}</ion-select-option>
                      <ion-select-option value="pm">{{ "COUNTRY_PM" | translate }}</ion-select-option>
                      <ion-select-option value="pn">{{ "COUNTRY_PN" | translate }}</ion-select-option>
                      <ion-select-option value="pr">{{ "COUNTRY_PR" | translate }}</ion-select-option>
                      <ion-select-option value="ps">{{ "COUNTRY_PS" | translate }}</ion-select-option>
                      <ion-select-option value="pt">{{ "COUNTRY_PT" | translate }}</ion-select-option>
                      <ion-select-option value="pw">{{ "COUNTRY_PW" | translate }}</ion-select-option>
                      <ion-select-option value="py">{{ "COUNTRY_PY" | translate }}</ion-select-option>
                      <ion-select-option value="qa">{{ "COUNTRY_QA" | translate }}</ion-select-option>
                      <ion-select-option value="re">{{ "COUNTRY_RE" | translate }}</ion-select-option>
                      <ion-select-option value="ro">{{ "COUNTRY_RO" | translate }}</ion-select-option>
                      <ion-select-option value="rs">{{ "COUNTRY_RS" | translate }}</ion-select-option>
                      <ion-select-option value="ru">{{ "COUNTRY_RU" | translate }}</ion-select-option>
                      <ion-select-option value="rw">{{ "COUNTRY_RW" | translate }}</ion-select-option>
                      <ion-select-option value="sa">{{ "COUNTRY_SA" | translate }}</ion-select-option>
                      <ion-select-option value="sb">{{ "COUNTRY_SB" | translate }}</ion-select-option>
                      <ion-select-option value="sc">{{ "COUNTRY_SC" | translate }}</ion-select-option>
                      <ion-select-option value="sd">{{ "COUNTRY_SD" | translate }}</ion-select-option>
                      <ion-select-option value="se">{{ "COUNTRY_SE" | translate }}</ion-select-option>
                      <ion-select-option value="sg">{{ "COUNTRY_SG" | translate }}</ion-select-option>
                      <ion-select-option value="sh">{{ "COUNTRY_SH" | translate }}</ion-select-option>
                      <ion-select-option value="si">{{ "COUNTRY_SI" | translate }}</ion-select-option>
                      <ion-select-option value="sj">{{ "COUNTRY_SJ" | translate }}</ion-select-option>
                      <ion-select-option value="sk">{{ "COUNTRY_SK" | translate }}</ion-select-option>
                      <ion-select-option value="sl">{{ "COUNTRY_SL" | translate }}</ion-select-option>
                      <ion-select-option value="sm">{{ "COUNTRY_SM" | translate }}</ion-select-option>
                      <ion-select-option value="sn">{{ "COUNTRY_SN" | translate }}</ion-select-option>
                      <ion-select-option value="so">{{ "COUNTRY_SO" | translate }}</ion-select-option>
                      <ion-select-option value="sr">{{ "COUNTRY_SR" | translate }}</ion-select-option>
                      <ion-select-option value="ss">{{ "COUNTRY_SS" | translate }}</ion-select-option>
                      <ion-select-option value="st">{{ "COUNTRY_ST" | translate }}</ion-select-option>
                      <ion-select-option value="sv">{{ "COUNTRY_SV" | translate }}</ion-select-option>
                      <ion-select-option value="sx">{{ "COUNTRY_SX" | translate }}</ion-select-option>
                      <ion-select-option value="sy">{{ "COUNTRY_SY" | translate }}</ion-select-option>
                      <ion-select-option value="sz">{{ "COUNTRY_SZ" | translate }}</ion-select-option>
                      <ion-select-option value="tc">{{ "COUNTRY_TC" | translate }}</ion-select-option>
                      <ion-select-option value="td">{{ "COUNTRY_TD" | translate }}</ion-select-option>
                      <ion-select-option value="tf">{{ "COUNTRY_TF" | translate }}</ion-select-option>
                      <ion-select-option value="tg">{{ "COUNTRY_TG" | translate }}</ion-select-option>
                      <ion-select-option value="th">{{ "COUNTRY_TH" | translate }}</ion-select-option>
                      <ion-select-option value="tj">{{ "COUNTRY_TJ" | translate }}</ion-select-option>
                      <ion-select-option value="tk">{{ "COUNTRY_TK" | translate }}</ion-select-option>
                      <ion-select-option value="tl">{{ "COUNTRY_TL" | translate }}</ion-select-option>
                      <ion-select-option value="tm">{{ "COUNTRY_TM" | translate }}</ion-select-option>
                      <ion-select-option value="tn">{{ "COUNTRY_TN" | translate }}</ion-select-option>
                      <ion-select-option value="to">{{ "COUNTRY_TO" | translate }}</ion-select-option>
                      <ion-select-option value="tr">{{ "COUNTRY_TR" | translate }}</ion-select-option>
                      <ion-select-option value="tt">{{ "COUNTRY_TT" | translate }}</ion-select-option>
                      <ion-select-option value="tv">{{ "COUNTRY_TV" | translate }}</ion-select-option>
                      <ion-select-option value="tw">{{ "COUNTRY_TW" | translate }}</ion-select-option>
                      <ion-select-option value="tz">{{ "COUNTRY_TZ" | translate }}</ion-select-option>
                      <ion-select-option value="ua">{{ "COUNTRY_UA" | translate }}</ion-select-option>
                      <ion-select-option value="ug">{{ "COUNTRY_UG" | translate }}</ion-select-option>
                      <ion-select-option value="um">{{ "COUNTRY_UM" | translate }}</ion-select-option>
                      <ion-select-option value="us">{{ "COUNTRY_US" | translate }}</ion-select-option>
                      <ion-select-option value="uy">{{ "COUNTRY_UY" | translate }}</ion-select-option>
                      <ion-select-option value="uz">{{ "COUNTRY_UZ" | translate }}</ion-select-option>
                      <ion-select-option value="va">{{ "COUNTRY_VA" | translate }}</ion-select-option>
                      <ion-select-option value="vc">{{ "COUNTRY_VC" | translate }}</ion-select-option>
                      <ion-select-option value="ve">{{ "COUNTRY_VE" | translate }}</ion-select-option>
                      <ion-select-option value="vg">{{ "COUNTRY_VG" | translate }}</ion-select-option>
                      <ion-select-option value="vi">{{ "COUNTRY_VI" | translate }}</ion-select-option>
                      <ion-select-option value="vn">{{ "COUNTRY_VN" | translate }}</ion-select-option>
                      <ion-select-option value="vu">{{ "COUNTRY_VU" | translate }}</ion-select-option>
                      <ion-select-option value="wf">{{ "COUNTRY_WF" | translate }}</ion-select-option>
                      <ion-select-option value="ws">{{ "COUNTRY_WS" | translate }}</ion-select-option>
                      <ion-select-option value="ye">{{ "COUNTRY_YE" | translate }}</ion-select-option>
                      <ion-select-option value="yt">{{ "COUNTRY_YT" | translate }}</ion-select-option>
                      <ion-select-option value="za">{{ "COUNTRY_ZA" | translate }}</ion-select-option>
                      <ion-select-option value="zm">{{ "COUNTRY_ZM" | translate }}</ion-select-option>
                      <ion-select-option value="zw">{{ "COUNTRY_ZW" | translate }}</ion-select-option>

                
              </ion-select>
            </ion-item>
            <ion-text color="danger" *ngIf="country.invalid && (country.dirty || country.touched)">
              <small>{{ 'COUNTRY_REQUIRED' | translate }}</small>
            </ion-text>

            <!-- Correo -->
            <ion-item>
              <ion-input type="email" formControlName="email" [placeholder]="'EMAIL_PLACEHOLDER' | translate"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <small *ngIf="email.errors?.['required']">{{ 'EMAIL_REQUIRED' | translate }}</small>
              <small *ngIf="email.errors?.['email']">{{ 'EMAIL_INVALID' | translate }}</small>
            </ion-text>

            <!-- Contraseña -->
            <ion-item>
              <ion-input type="password" formControlName="password" [placeholder]="'PASSWORD_PLACEHOLDER' | translate"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <small *ngIf="password.errors?.['required']">{{ 'PASSWORD_REQUIRED' | translate }}</small>
              <small *ngIf="password.errors?.['minlength']">{{ 'PASSWORD_MIN' | translate }}</small>
            </ion-text>

            <!-- Confirmar Contraseña -->
            <ion-item>
              <ion-input type="password" formControlName="confirmPassword" [placeholder]="'CONFIRM_PASSWORD_PLACEHOLDER' | translate"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
              <small *ngIf="confirmPassword.errors?.['required']">{{ 'CONFIRM_PASSWORD_REQUIRED' | translate }}</small>
            </ion-text>

            <!-- Validación de coincidencia de contraseñas -->
            <ion-text color="danger" *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.touched">
              <small>{{ 'PASSWORDS_DO_NOT_MATCH' | translate }}</small>
            </ion-text>


            <!-- Botón de registro -->
            <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="button-primary">
              {{ 'REGISTER_BUTTON' | translate }}
            </ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
