<div class="principales-noticias container py-4">
  <div class="main-news">
    <ng-container *ngFor="let n of noticias; let i = index">
      <div
        class="news-card"
        [class.main-left]="i === 0"
        [class.side-card]="i > 0"
      >
        <img [src]="n.img" alt="{{ n.titulo }}" />
        <div class="news-info">
          <div class="category-date">
            {{ n.categoria }} <small>{{ n.fecha }}</small>
          </div>
          <h3 class="news-title">{{ n.titulo }}</h3>
        </div>
      </div>
    </ng-container>
  </div>
</div>
