<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Encabezado con botón atrás, título y fecha -->
  <div class="favoritos-header">
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>
    <div class="favoritos-titulo">Favoritos</div>
  </div>

  <!-- Buscador -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchTerm = $event.detail.value ?? ''"
    placeholder="Buscar favoritos..."
    showClearButton="focus">
  </ion-searchbar>



<!-- Filtros por categoría -->
<div class="filter-tabs hide-scrollbar">
  <button
    *ngFor="let cat of categoriasDisponibles"
    class="tab-button"
    [class.selected]="categoriaSeleccionada === cat"
    (click)="seleccionarCategoria(cat)">
    {{ cat }}
  </button>
</div>

<!-- Filtro por tipo -->
<ion-item lines="none" class="tipo-select-wrapper">
  <ion-label position="floating">Tipo</ion-label>
  <ion-select
    [(ngModel)]="tipoSeleccionado"
    interface="popover"
    placeholder="Todos">
    <ion-select-option value="">Todos</ion-select-option>
    <ion-select-option value="Noticia">Noticia</ion-select-option>
    <ion-select-option value="Podcast">Podcast</ion-select-option>
    <ion-select-option value="Show">Show</ion-select-option>
  </ion-select>
</ion-item>



  <!-- Grid de favoritos -->
  <ion-grid>
    <ion-row>
      <ion-col
        [size]="resultadosFiltrados.length === 1 ? '12' : '6'"
        [sizeMd]="resultadosFiltrados.length === 1 ? '12' : '6'"
        [sizeLg]="resultadosFiltrados.length === 1 ? '12' : '6'"
        *ngFor="let item of resultadosFiltrados">

        <div class="favorite-card" (click)="irADetalle(item)">
          <img
            class="favorite-image"
            [src]="item.meta?.image || item.image || 'assets/img/default.jpg'"
            alt="Imagen"
          />
          <div class="favorite-info">
            <h3 class="favorite-title">{{ item.title }}</h3>
            {{item._id}}
      <span class="favorite-tag">{{ item.tipo }}</span>


          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mensaje si no hay resultados -->
  <div *ngIf="resultadosFiltrados.length === 0" class="no-favorites">
    <ion-icon name="heart-outline"></ion-icon>
    <p>No tienes favoritos aún.</p>
  </div>

</ion-content>
