<ion-content >
  <!-- Encabezado con botón atrás, título y fecha -->
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>



    <h2 class="favoritos-titulo">{{ 'FAVORITOS' | translate }}</h2>

  <!-- Buscador -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="searchTerm = $event.detail.value ?? ''"
    placeholder=" {{ 'BUSCAR' | translate }} {{ 'FAVORITOS' | translate }}..."
    showClearButton="focus">
  </ion-searchbar>

<!-- Categorías -->
<div class="filter-tabs categorias-tabs">
  <button
    *ngFor="let cat of categoriasDisponibles"
    class="tab-button"
    [class.selected]="categoriaSeleccionada === cat"
    (click)="seleccionarCategoria(cat)">
  {{ cat | translate }}
  </button>
</div>

<!-- Tipos -->
<div class="filter-tabs tipo-tabs">
  <button
    *ngFor="let tipo of tiposDisponibles"
    class="tab-button"
    [class.selected]="tipoSeleccionado === tipo"
    (click)="seleccionarTipo(tipo)">
   {{ (tipo ? tipo : 'Todos') | translate }}
  </button>
</div>


  <!-- Grid de favoritos -->
  <ion-grid>
    <ion-row>
      <ion-col
        [size]="resultadosFiltrados.length === 1 ? '12' : '6'"
        [sizeMd]="resultadosFiltrados.length === 1 ? '12' : '6'"
        [sizeLg]="resultadosFiltrados.length === 1 ? '12' : '6'"
        *ngFor="let item of resultadosFiltrados">
        <div class="favorite-card" (click)="irADetalle(item)">{{item.image}}
          <img
            class="favorite-image"
            [src]="item.meta?.image || item.image ||  item.coverImage ||  'assets/img/default.jpg'"
            alt="Imagen" />
          <div class="favorite-info">
            <h3 class="favorite-title">{{ item.title }}</h3>
            <span class="favorite-tag">{{ item.tipo }}</span>
          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mensaje si no hay resultados -->
  <div *ngIf="resultadosFiltrados.length === 0" class="no-favorites">
    <ion-icon name="heart-outline"></ion-icon>
    <p>{{ 'FAVORITOS-VACIO' | translate }}</p>
  </div>
</ion-content>
