<app-principales-noticias></app-principales-noticias>

<app-recomendadas-noticias></app-recomendadas-noticias>
<app-eventos-noticias></app-eventos-noticias>
<app-anuncio-principal></app-anuncio-principal>
<app-podcast></app-podcast>
<app-ultimas-noticias></app-ultimas-noticias>
<app-unete></app-unete>
<app-contact-us></app-contact-us>

<!--
<script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>
<mux-player
  playback-id="JllJoyZheKeQnyCzgILdE5fonYL8xxVR02NXATbZE9Gs"
  metadata-viewer-user-id="Placeholder (optional)"
></mux-player>
-->
