<ion-content class="ion-padding podcast-fullscreen" fullscreen>
  <div class="iframe-wrapper">
    <iframe
      [src]="podcast.embedUrl | safe:'resourceUrl'"
      frameborder="0"
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      style="border: none; width: 100%; height: 152px;"
      loading="lazy"
    ></iframe>
  </div>

  <div class="info">
    <h2>{{ podcast.title }}</h2>
    <p class="author">{{ podcast.authorName }}</p>
    <p class="desc">{{ podcast.description }}</p>
  </div>
</ion-content>
