<ion-content class="radios-content">
  <!-- Back button -->
  <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>

  <!-- Main title -->
  <h1 class="page-title">Radio</h1>

  <!-- Search bar -->
  <div class="search-wrapper">
    <div class="search-icon">
      <ion-icon name="search-outline"></ion-icon>
    </div>
    <input
      type="text"
      placeholder="Buscar radio..."
      class="search-input"
      [(ngModel)]="searchTerm"
      (input)="filterRadios()"
    />
  </div>

  <!-- Category filters 
  <div class="filter-tabs hide-scrollbar">
    <button class="tab-button selected">Todos</button>
    <button class="tab-button">Mundo</button>
    <button class="tab-button">Arte</button>
    <button class="tab-button">Política</button>
    <button class="tab-button">Finanzas</button>
    <button class="tab-button">Familia</button>
    <button class="tab-button">Deportes</button>
    <button class="tab-button">Salud</button>
  </div>
-->
  <!-- Grilla de radios -->
  <div class="radio-grid">
      <div
        class="radio-card"
        *ngFor="let radio of filteredRadios"
        (click)="goToRadioDetail(radio.title)"
      >
      <div class="image-wrapper">
        <img [src]="radio.image" [alt]="radio.title" />
      </div>
      <div class="radio-info">
        <h3 class="radio-title">{{ radio.title }}</h3>
        <ion-icon name="play-circle-outline" class="play-icon"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
